/*-----------------------UTILITY STYLES---------------------------------------*/

a:visited {
    color: inherit;
    text-decoration: none;
}
a:active {
    color: inherit;
    text-decoration: none;
}
a {
    color: inherit;
    text-decoration: none;
} 
a:hover{
    color: inherit;
    text-decoration: none;
}

body {
    font-family: Arial, sans-serif;
    margin: 0px;
    background: rgba(0,0,0, 1.0);
    background-image: url("images/bground.png");
    background-size: 100%;
    -webkit-font-smoothing: subpixel-antialiased;
    -moz-font-smoothing: subpixel-antialiased;
    -ms-font-smoothing: subpixel-antialiased;
}

#bground-img{
    position: absolute;
    z-index: -100;
}

#body-container {
    position: relative;
    margin: 0px auto;
    width: 990px;
    height: 100%;
    margin-bottom: 10px;
}

.img-scaled-w {
    width: 100%;
}

.img-scaled-h {
    height: 100%;
}

.img-scaled-wh {
    width: 100%;
    height: 100%;
}

/*------------------------------HEADER STYLES---------------------------------*/

#top-wrapper {
    height: 432px;
}

#header {
    position: relative;
    width: 100%;
    z-index: 200;
    height: 100px;
    box-shadow: 0px 1px 1px 0px black;
    background-image: url('images/blah.png');
    background: #041e42;
}

#header-container {
    position: relative;
    height: 100%;
    max-width: 990px;
    margin: 0px auto;
}

#login-container {
    float: right;
    color: #ffc72c;
    font-weight: 700;
    font-size: 18px;
    margin-top: 59px;
}

#social-media-container {
    float: right;
}

#login {
    float: left;
    padding: 10px 0px;
}

#login-img {
    float: right;
    padding: 5px 7px;
    transition: 0.14s;
    -webkit-transition: 0.14s;
    -moz-transition: 0.14s;
    -ms-transition: 0.14s;
}

#fan-login-icon {
    background: #ffc72c;
    border-radius: 3px;
    width: 25px;
    height: 25px;
}

#login-container:hover {
    cursor: pointer;
}

#title {
    float: left;
    color: #ffc72c;
    font-family: 'Open Sans', 'sans-serif';
    font-size: 50px;
    font-weight: 700;
    margin-left: 26px;
    margin-top: 12px;
}

#logo {
    float: left;
    width: 112px;
}

/*---------------------------------MODAL STYLES-------------------------------*/

.modal-button {
    float: left;
    font-size: 12px;
    line-height: 22px;
    margin-right: 20px;
    border-radius: 5px;
    width: 66px;
    text-align: center;
    font-weight: 600;
    cursor: pointer; 
}

#login-modal-container {
    width: 100%;
    height: 1000px;
    position: fixed;
    z-index: 300;
    display: none;
}

#login-modal-overlay {
    background: rgba(0,0,0, 0.85);
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 305;
}

#login-modal-box-wrapper {
    position: absolute;
    top: 25%;
    left: 50%;
    margin-left: -150px;
    height: 220px;
    width: 300px;
    z-index: 310;
}

#login-modal-box {
    margin-left: auto;
    margin-right: auto;
    height: 100%;
    background-color: #DDD;
    opacity: 0.95;
    position: relative;
    border-radius: 4px;
}

#login-modal-header {
    margin-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 20;
    color: #041e42;
    font-weight: 400;
    font-family: arial;
    font-size: 22px;
}

#login-modal-footer {
    position: relative;
    float: right;
}

#login-input-box {
    padding: 10px;
    border: 1px solid #041e42;
    background: rgb(255, 255, 255);
    margin: 0px;
    margin-bottom: 20px;
    width: 236px;
    font-size: 12px;
    font-weight: 700;
    color: black;
    margin-left: 20px;
    border-radius: 3px;
}

#submit-button {
    color: #ffc72c;
    background: #041e42;
    font-size: 16px;
    padding: 8px;
    opacity: .8;
}

#login-cancel-button {
    background: crimson;
    color: white;
    font-size: 16px;
    padding: 8px;
    opacity: .8;
}

#submit-button:hover {
    opacity: 1;
}

#login-cancel-button:hover {
    opacity: 1;
}

/*------------------------------NAV STYLES------------------------------------*/

#nav-container {
    height: 35px;
    position: relative;
}

#nav {
    position: absolute;
    width: 990px;
    background: #003262;
    height: 35px;
    z-index: 100;
}

#nav-position-container {
    width: 781px;
    margin-left: auto;
    margin-right: auto;
    height: 100%;
}

.nav-item {
    float: left;
    height: 100%;
    text-align: center;
    background: inherit;
    color: white;
    transition: 0.22s;
    -webkit-transition: 0.22s;
    -moz-transition: 0.22s;
    -ms-transition: 0.22s;
}

.nav-item:hover {
    background: #041e42;
    color: #FDB515;
    cursor: pointer;
    -moz-box-shadow: inset 0 0 3px #000000;
    -webkit-box-shadow: inset 0 0 3px #000000;
    box-shadow: inset 0 0 3px #000000;
}

.no-drop:hover {
    border-bottom: 5px solid #FDB515;
}

#nav-search {
    width: 117px;
}

#nav-search:hover{
    border-bottom: inherit;
}

.nav-item-content {
    color: inherit;
    font-size: 16px;
    font-family: Arial;
    font-weight: 500;
    /* margin-top: 10px; */
    padding: 10px 20px 7px 20px;
}

#nav-search-icon {
    width: 19px;
    height: 19px;
    float: right;
    margin-left: 5px;
}

#search-modal-container {
    width: 198px;
    height: 59px;
    z-index: 100;
    background: rgba(253,181,21,.90);
    border: 3px solid #041e42;
    border-radius: 0px 0px 10px 10px; 
    padding: 10px;
    display: none; 
}

#input-box {
    border: 1px solid black;
    padding: 6px;
    background: rgba(255, 255, 255, 1.0 );
    width: 183px;
    font-size: 12px;
    font-weight: 600;
    color: black;
    border-radius: 3px;
    line-height: 13px;
    margin-bottom: 5px;
}

.modal-button {
    float: left;
    font-size: 12px;
    line-height: 22px;
    margin-right: 20px;
    border-radius: 5px;
    width: 66px;
    text-align: center;
    font-weight: 600;
    cursor: pointer; 
}

#search-button {
    color: white;
    background: #041e42;
}

#cancel-button {
    color: white;
    background: crimson;
}

#cancel-button:hover {
    background: red;
}

#search-button:hover {
    background: #1b5c9a;
}

.drop-down-container {
    background: #041e42;
    display: none;   
    position: absolute;
    z-index: 100;
    color: black;
    list-style-type: none;
    line-height: 28px;
    border-bottom: 1px solid #fdb515;
    cursor: default;
}

.drop-down-container li {
    padding: 2px 20px;
    font-size: 13px;
    font-weight: 600;
    text-align: left;
    color: #fff;
    border-top: 1px solid #fdb515;
    -webkit-transition: .15s ease-in-out;
    -moz-transition: .15s ease-in-out;
    -ms-transition: .15s ease-in-out;
    -o-transition: .15s ease-in-out;
    transition: .15s ease-in-out;
}

.drop-down-container li:hover {
    background: #003262;
    color: #041e42;
    color: #FDB515;
    text-decoration: underline;
    cursor: pointer;
}

/*-----------------------CONTENT STYLES---------------------------------------*/

#content-container {
    width: 988px;
    margin: 0px auto;
    background: rgba(255,255,255,0.60);
    border-radius: 0px 0px 3px 3px;
    padding-bottom: 20px;
    position: relative;
    border: 1px solid #003262;
    border-top: none;
    /* z-index: 50; */
}

.content-column {
    float: left;
}

#content {
    position: relative;
    margin: 0px auto;
    width: 990px;
    height: 100%;
}

#player-tiles-container {

}

#carousel-container {
    width: 672px;
    overflow: hidden;
    height: 412px;
    position: relative;
    margin: 10px;
    float: left;
}

#carousel {
    width: 4704px;
    height: 412px; 
    margin-left: 0px;
}

.carousel-item {
    width: 672px;
    float: left;
    height: 412px;    
    overflow: hidden;
}

#button-container {
    position: absolute;
    bottom: 20px;
    right: 20px;
}

#carousel-prev {
    float: left;
    width: 40px;
    height: 40px;
    background: rgba(0, 0, 0, 0.5);
    cursor: pointer;
    -webkit-transition: linear 0.2s;
    -moz-transition:linear 0.2s;
    -ms-transition: linear 0.2s;
    transition: linear 0.2s;
    border-radius: 50%;
}
#carousel-next {
    float: left;
    margin-left: 10px;
    height: 40px;
    width: 40px;
    background: rgba(0, 0, 0, 0.5);
    cursor: pointer;
    -webkit-transition: linear 0.2s;
    -moz-transition:linear 0.2s;
    -ms-transition: linear 0.2s;
    transition: linear 0.2s;
    border-radius: 50%;
}

.carousel-button {
    width: 26px;
    height: 26px;
    position: relative;
    top: 50%;
    margin-top: -13px;
    margin-left: auto;
    margin-right: auto;
}

#carousel-prev:hover {
    background: rgba(0, 0, 0, .8);
}
#carousel-next:hover {
    background: rgba(0, 0, 0, .8);
}

#features-container {
    height: 410px;
    width: 284px;
    background: rgba(255,255,255,1.0);
    float: left;
    margin: 10px 10px 10px 0px;
    border-radius: 0px;
    overflow: hidden;
    border: 1px solid #041e42;
    position: relative;
}

.box-content {
    overflow-y: scroll;
    overflow-x: hidden;
    height: 370px;
    width: 300px;
}

.box-item {
    padding: 10px;
    border-bottom: 1px solid #888;
    overflow: hidden;
}

.box-item:hover{
    box-shadow: inset 0 0 3px #888;
    background: #EEE;
    opacity: 0.9;
}

.box-item-title {
    font-size: 16px;
    line-height: 24px;
    font-weight: 700;
    margin-bottom: 5px;
    border-bottom: 1px solid #DDD;
}

.box-item-subtitle {
    font-size: 12px;
    line-height: 18px;
}

.box-title {
    position: relative;
    top: 0px;
    background: #041e42;
    padding: 10px;
    font-size: 18px;
    font-weight: 600;
    color: #ffc72c;
}

.box-title:hover {
    background: #003262;
    text-decoration: underline;
    cursor: pointer;
}

#feature-width {
    width: 265px;
}

#last-feature {
    width: 264px;
    margin-bottom: 16px;
}

#quick-info-container {
    height: 385px;
    margin: 12px 0px 0px 0px;
}

.quick-info-box {
    float: left;
    width: 298px;
    height: 385px;
    background: white;
    margin-right: 22px;
    border-radius: 5px;
    position: relative;
    overflow: hidden;
    border: 1px solid #041e42;

}

#quick-box-width {
    width: 279px;
}

.date {
    float: right;
    font-style: italic;
    font-weight: 600;
}

.elipses {
    font-weight: 900;
    font-size: 18px;
}

.tg  {
    border-collapse:collapse;
    border-spacing:0;
    border-color: #041e42;
    overflow: hidden;
    margin-left: -1px;
    margin-top: -1px;
}
.tg td{
    font-family:Arial, sans-serif;
    font-size:14px;
    padding: 9px 6px;
    border-style:solid;
    border-width:1px;
    overflow:hidden;
    word-break:normal;
    -webkit-word-break:normal;
    -moz-word-break:normal;
    -ms-word-break:normal;
    border-color: #041e42;
}
.tg th{
    font-family:Arial, sans-serif;
    font-size:14px;
    font-weight:normal;
    padding: 6px 4px;
    border-style:solid;
    border-width:1px;
    overflow:hidden;
    word-break:normal;
    -webkit-word-break:normal;
    -moz-word-break:normal;
    -ms-word-break:normal;
}
.tg .tg-wlev{
    font-size:16px;
    font-family:Arial, Helvetica, sans-serif !important;
    border-color: #041e42;
}
.tg .tg-lvl4{
    font-weight:bold;
    font-size:16px;
    font-family:Arial, Helvetica, sans-serif !important;;
    text-align:center;
    border-color: #041e42;
}
.tg .tg-6iqf{
    font-size:16px;
    font-family:Arial, Helvetica, sans-serif !important;;
    text-align:center;
    border-color: #041e42;
}

#feature-footer {
    position: absolute;
    bottom: 0px;
    background: rgba(0,0,0,0.6);
    width: 100%;
    z-index: 100;
}

#footer-icon {
    width: 16px;
    height: 16px;
    margin: 0px auto;
}

#feature-footer:hover {
    background: rgba(0,0,0,0.85);
}

#team-button {
    color: #041e42;
    background: #FDB515;
    font-weight: 600;
}

#team-button:hover {
    background: #FDB515;
    color: white;
    border-bottom: 5px solid #003262;
}

.tile-info {
    position: absolute;
    bottom: 0px;
    width: 227px;
    padding: 10px;
    background: rgba(0,50,98,0.9);
    color: #FDB515;
    font-family: sans-serif;
    font-size: 16px;
    font-weight: 600;
    border-radius: 0px 0px 5px 5px;
}

.tile-name {
    font-size: 18;   
}

.tile-position {
    font-size: 14px;
    color: rgba(255,255,255, 0.8);
 }

.number {
    float: right;
    font-size: 32px;
}

.tile:hover {
    cursor: pointer;
}

.headline {
    height: 50px;
    width: 220px;
    position: absolute;
    padding-top: 5px;
    font-size: 16px;
}

.image-post {
    width: 220px;
    height: 270px;
    padding: 15px;
}

.headline-container {
    padding: 10px 0px;
    margin: 0px 10px;
    font-family: sans-serif;
    font-style: italic;
    font-weight: 600;
    border-top: 1px solid #CCC;
}

.post {
    width: 222px;
    background-color: #EEE;
    margin-bottom: 20px;
    margin-left: 20px;
    box-shadow: 3px 3px 5px #222;
    border-radius: 3px;
    margin-top: 20px;
}

.post:hover {
    cursor: pointer;
}

.image-post-container {
    width: 202px;
    height: 202px;
    padding: 10px;
}

#post-container {
    /* margin-top: 20px; */
    margin-left: auto;
    margin-right: auto;
}

#news-button {
    color: #041e42;
    background: #FDB515;
    font-weight: 600;
}

#news-button:hover {
    background: #FDB515;
    color: white;
    border-bottom: 5px solid #003262;
}

.tile-thumbnail {
    padding: 10px;
    word-wrap: word-break;
    word-wrap: webkit-word-break;
    word-wrap: moz-word-break;
    word-wrap: ms-word-break;

}

#icon-container {
    float: right;
}

.game-icon {
    float: left;
    width: 18px;
    height: 18px;
    background: #fff;
    border: 1px solid black;
    border-radius: 3px;
}

.icon-title {
    float: left;
    font-size: 12px;
    color: white;
    font-weight: 400;
    line-height: 20px;
    margin: 0px 6px 0px 2px;
}

#home-icon {
    background: #fdb515;
    border: 1px solid #003262;
}

#away-icon {
    background: #003262;
    border: 1px solid #fdb515;
}

.home-team {
    width: 40px;
    height: 40px;
    border: 1px solid #003262;
    padding: 5px;
    border-radius: 3px;
    overflow: hidden;
    float: left;
    background: #ffc72c;
}

.away-team {
    width: 40px;
    height: 40px;
    border: 1px solid #ffc72c;
    padding: 5px;
    border-radius: 3px;
    overflow: hidden;
    float: left;
    background: #003262;
}

.game-info {
    float: left;
    margin-left: 10px;
    padding-left: 10px;
    height: 60px;
    overflow: hidden;
    border-left: 1px dotted #AAA;
}

.game-title {
    color: #041e42;
    font-weight: 600;
    font-size: 18px;
}
 
.game-date {
    font-size: 12px;
}

.game-tix {
    font-size: 12px;
    background: #003262;
    color: #ffc72c;
    border-radius: 3px;
    padding: 4px;
    margin: 1px 0px;
    width: 55px;
}

.game-tix:hover {
    cursor: pointer;
    text-decoration: underline;
}

.social-img {
    width: 40px;
    height: 40px;
    padding: 5px;
    border-radius: 3px;
    overflow: hidden;
    float: left;
}

.social-title {
    font-size: 22px;
    color: #041e42;
    margin-top: 12px;
}

.tweet {
    margin: 5px;
    
    border-top: 1px dotted #AAA;
    padding: 3px;
    color: black;
    font-size: 12px;
}

/*------------http://simonlockyer.info/flip-div-css3-tutorial/-------------*/ 
.panel { 
    position: relative;
    width: 247px;
    height: 247px;
    float: left;
    box-shadow: inset 0px 0px 6px #444;
    background: rgba(255,255,255, 0.70);
    border-radius: 5px;
    overflow: hidden;
    -webkit-perspective: 600px;
    -moz-perspective: 600px;
}
/* -- make sure to declare a default for every property that you want animated -- */
/* -- general styles, including Y axis rotation -- */
.panel .front {
    position: absolute;
    top: 0;
    z-index: 900;
    width: inherit;
    height: inherit;
    text-align: center;
    -webkit-transform: rotateX(0deg) rotateY(0deg);
    -webkit-transform-style: preserve-3d;
    -webkit-backface-visibility: hidden;
    -moz-transform: rotateX(0deg) rotateY(0deg);
    -moz-transform-style: preserve-3d;
    -moz-backface-visibility: hidden;
    /* -- transition is the magic sauce for animation -- */
    -o-transition: all .4s ease-in-out;
    -ms-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
    
}
.panel.flip .front {
    z-index: 900;
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    transform: rotateY(180deg);
}
.panel .back {
    position: absolute;
    top: 0;
    z-index: 800;
    width: inherit;
    height: inherit;
    background: #041e42;
    border-radius: inherit;
    -webkit-transform: rotateY(-180deg);
    -webkit-transform-style: preserve-3d;
    -webkit-backface-visibility: hidden;
 
    -moz-transform: rotateY(-180deg);
    -moz-transform-style: preserve-3d;
    -moz-backface-visibility: hidden;
    /* -- transition is the magic sauce for animation -- */
    -o-transition: all .4s ease-in-out;
    -ms-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
    
}
.panel.flip .back {
    z-index: 1000;
    -webkit-transform: rotateX(0deg) rotateY(0deg);
    -moz-transform: rotateX(0deg) rotateY(0deg);
    -ms-transform: rotateX(0deg) rotateY(0deg);
    -o-transform: rotateX(0deg) rotateY(0deg);
    transform: rotateX(0deg) rotateY(0deg);
    
 }

 .panel .back p {
    color: rgba(255,255,255, 0.8);
    padding: 0px 20px;
    font-size: 14px;
    line-height: 20px;
    word-wrap: break-word;
    max-height: 247px;
}

.panel .back p span {
    color: #FDB515;
    font-weight: 600;
    font-size: 15px;
}

/*------------------------Schedule STYLES-------------------------------------*/

#schedule-content-container {
    width: 988px;
    height: 100%;
    margin: 0px auto;
    background: #fff;
    border-radius: 0px 0px 3px 3px;
    /* padding-bottom: 20px; */
    position: relative;
    border: 1px solid #003262;
    border-top: none;
    /* z-index: 50; */
    overflow: hidden;
}

table {
  border-collapse: collapse;
  width: 100%;
}

#schedule-table {
  font-size: 14px;
}

caption{
  display: table-caption;
  background: #FDB515;
  color: #041E42;
  padding: 20px 0px;
  font-weight: bold;
  line-height: 20px;
  font-size: 20px;
}

.table th, .table td {
  padding: 8px;
  line-height: 20px;
  text-align: left;
  vertical-align: top;
  border-bottom: 1px solid #ddd;
}

.table td a:hover {
    color: #FDB515;
    text-decoration: underline;
}

#schedule-table .date {
  width: 15%;
}

#schedule-table thead tr th {
  background: none repeat scroll 0 0 #041E42;
  color: #ffffff;
  text-transform: uppercase;
}

.even {
  font-family: Arial, Helvetica;
  font-size: 9pt;
  background-color: #F1F1F1;
}

.odd {
  font-size: 9pt;
  background-color: #F1F1F1;
}

#schedule-table tbody tr:nth-child(odd) {
  background: #eee;
}

.quick-box-content-container {
    overflow-y: scroll;
    overflow-x: hidden;
    height: 345px;
    width: 315px;
}

#donation-container {
    float: left;
    width: 548px;
    margin: 2px 10px 0px 90px;
    padding: 30px 20px 0px 20px;
    border-left: 3px dotted #ccc;
    border-right: 3px dotted #ccc;
    font-size: 16px;
    color: #041e42;
    line-height: 40px;
    height: 97%;
}

#donation-thankyou {
    float: left;
    width: 252px; 
    margin: 30px 10px 0px 0px; 
    padding: 0px 20px 10px 10px;  
    border-bottom: 3px dotted #ccc; 
    font-size: 14px;  
    color: #041e42;
    line-height: 24px;
    font-weight: 600;
}
#donation-button-container {
    /* position: relative; */
    margin: 40px auto 0px auto;
    width: 344px;
    height: 50px;
}

.donation-button {
    float: left;
    width: 150px;
    height: 46px;
    background: blue;
    margin-right: 40px;
    text-align: center;
    line-height: 45px;
    letter-spacing: 0px;
    font-weight: 600;
    font-size: 18px;
    border-radius: 2px;
    border: 1px solid #041e42;
    opacity: .8;
}

#donate {
    background: #FDB515;
}

#sponsor {
    margin-right: 0px;
    background: #ccc;
}

.donation-button:hover {
    opacity: 1.0;
    cursor: pointer;
    text-decoration: underline;
}

#recruit-container {
    float: left;
    width: 550px;
    margin: 2px 10px 0px 90px;
    padding: 25px 20px 0px 20px;
    border-left: 3px dotted #ccc;
    border-right: 3px dotted #ccc;
    font-size: 16px;
    color: #041e42;
    line-height: 40px;
    height: 98%;
}

#recruit-button-container {
    margin: 40px auto 0px auto;
    width: 152px;
    height: 48px;
}

#exec-list {
    float: left;
    margin: 17px 10px 0px 10px;
}

#exec-list-title {
    font-size: 22px;

    line-height: 33px;
    color: #041e42;
    border-bottom: 2px solid #FDB515;
    margin-bottom: 10px;
}

.exec {
    color: #041e42;

    font-size: 14px;
    line-height: 24px;
    background: #ddd;
    padding: 7px;
    border-radius: 3px;
    margin-bottom: 10px;
}

.exec-email-button {
    background: #FDB515;
    
    padding: 5px;
    margin-left: 5px;
    border-radius: 5px;
    font-weight: 600;
    opacity: .8;
}

.exec-email-button:hover {
    opacity: 1.0;
}

.exec:hover {
    background: #ccc;
}

#fan-zone-box-container {
    height: 415px;
    width: 100%;
}

.fan-zone-box {
    float: left;
    width: 263px;
    margin-left: 50px;
    margin-top: 25px;
    background: #fff;
    height: 351px;
    border-radius: 5px;
    border: 1px solid #003262;
    overflow: hidden;
}

.fan-zone-box-title {
    margin: 10px 15px 0px 15px;

    padding: 5px;
    border-bottom: 2px solid #fdb515;
    font-size: 18px;
    font-weight: 600;
    color: #003262;
    text-align: center;
}

#fan-of-the-week-container {
    width: 225px;
    margin: 15px auto;
    border: 2px solid #ccc;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
    background: #fff;
}

#fan-basic-info-box {
    position: absolute;
    bottom: 0px;
    width: 185px;
    color: #041e42;
    height: 50px;
    overflow: hidden;
    text-align: center;
    background: rgba(253, 181, 21, .9);
    padding: 0px 20px;
    line-height: 24px;
    font-size: 12px;
}

#fan-basic-info-box:hover {
    top: 0px;
    height: 100%;
}

#fan-of-the-week-info {
    
    margin: 10px 0px 0px 0px;
    color: #003262;
    font-size: 16px;
    border-radius: 4px;
    text-align: center;
}

#upcoming-events-container {
    background: #fff;
    border: 1px solid #fff;
    width: 576px;
    height: 250px;
    float: left;
    margin-left: 50px;
    margin-right: 50px;
    background: #041e42;
    overflow: hidden;
    border-radius: 2px;
}

#support-container {
    float: left;
    width: 263px;
    height: 250px;
    background: #fff;
    border: 1px solid #fdb515;
    border-radius: 3px;
}

#more-fan-stuff-container {
    height: 252px;

    position: relative;
}

#upcoming-events-title {
    color: #fdb515;
    border-bottom: 2px solid #fdb515;
    margin: 10px 15px 10px 15px;
    font-size: 18px;
    font-weight: 600;
    padding: 5px;
    overflow: hidden;
}

.event-container {
    margin: 10px 15px;
    padding: 10px;
    background: #003262;
    border-radius: 2px;
    height: 50px;
}

.event-date {
    width: 50px;
    height: 50px;
    background: #041e42;
    border-radius: 3px;
    float: left;
    color: white;
    overflow: hidden;
}

.event-desc {
    float: left;

    margin-left: 20px;
    background: #194671;
    width: 446px;
    border-radius: 2px;
    height: 40px;
    padding: 5px;
}

.event-month {
    text-align: center;

    font-size: 16px;
    padding: 2px;
    border-bottom: 1px solid #325a81;
    background: #4c6f91;
}

.event-day {
    
    background: #194671;
    text-align: center;
    font-weight: 600;
    font-size: 20px;
    padding: 2px;
}

.event-title {
    height: 19px;
    border-bottom: 1px solid #325a81;
    color: #fff;
}

.event-info {
    height: 20px;
    color: #999;
    font-size: 14px;
    padding-top: 4px;
}

#event-list-container {
    overflow-x: hidden;
    overflow-y: scroll;
    width: 592px;
    height: 197px;
}

#support-title {
    margin: 10px 15px 0px 15px; 
    padding: 5px; 
    border-bottom: 2px solid #003262; 
    font-size: 18px; 
    font-weight: 600; 
    color: #fdb515; 
    text-align: center;
}

#support-text {
    color: #003262;
    margin: 10px 15px;
    font-size: 14px;
    line-height: 22px;
}

#support-donate {
    opacity: .8;
    background: #fdb515;
    border: 1px solid #041e42;
    width: 140px;
    height: 40px;
    margin: auto;
    text-align: center;
    line-height: 40px;
}

#support-donate:hover {
    opacity: 1;
    text-decoration: underline;
    cursor: pointer;
}

.coach-container {
    padding: 60px 10px 10px 10px;

    margin-bottom: 20px;
    overflow: hidden;
}

.coach-title {
    margin: 10px auto;
    
    text-align: center;
    font-size: 24px;
    color: #041e42;
    font-weight: 800;
}

.coach-img-container {
    width: 200px;
    height: 200px;
    margin: auto;
    background: #eee;
    border-radius: 50%;
    border: 2px solid #003262;
    overflow: hidden;
}

.coach-name {
    text-align: center;

    color: #041e42;
    /* color: #fdb515; */
    font-size: 22px;
    margin: 10px auto;
    font-weight: 800;
}

.coach-info {
    width: 600px;
    
    margin: auto;
    line-height: 30px;
    font-size: 15px;
    color: #003262;
    background: #fff;
    border: 1px solid #fdb515;
    padding: 10px;
    border-radius: 3px;
}

footer {
    font-size: 12px;
    line-height: 24px;
    color: white;
    width: 900px;
    margin: auto;
    text-align: center;
    padding: 0px 10px 10px 10px;
}

#directions-container {
    float: left;
    width: 548px;
    margin: 2px 0px 0px 90px;
    padding: 14px 20px 0px 20px;
    border-left: 3px dotted #ccc;
    border-right: 3px dotted #ccc;
    font-size: 14px;
    color: #041e42;
    line-height: 28px;
    height: 97%;
}

#ice-center-info {
    float: left;
    width: 280px; 
    margin: 20px 0px 0px 4px; 
    padding: 0px 10px 10px 10px;  
    border-bottom: 3px dotted #ccc; 
    font-size: 14px;  
    color: #041e42;
    line-height: 24px;
    font-weight: 600;
}

.trans-title {
    text-align: center;

    font-size: 16px;
    font-weight: 800;
    color: #003262;
    text-decoration: underline;
}

#directions-container ul {
    background: #fff;
    border-radius: 5px;
    border: 1px solid #fdb515;
    color: #003262;
    margin-top: 2px;
}

table.sortable th:not(.sorttable_sorted):not(.sorttable_sorted_reverse):not(.sorttable_nosort):after { 
    content: " \25B4\25BE" 
}

#article {
    width: 560px;
    height: 100%;
    background: #fff;
    border-left: 2px dashed #eee;
    border-right: 2px dashed #eee;
    margin: auto;
    line-height: 23px;
    padding: 20px 10px 0px 10px;
    font-size: 16px;
    font-family: georgia;
}

#article-title {
    font-size: 34px;
    line-height: 38px;
    font-style: italic;
    font-weight: 700;
    padding-bottom: 10px;
    border-bottom: 1px solid #e2e2e2;
}

#article-date {
    font-size: 11px;
    
    line-height: 12px;
    margin-top: 10px;
    text-transform: uppercase;
}